/* =============
   Gallery
============= */
.port {
  padding-bottom: 20px;
}
.portfolioFilter {
  a {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-out;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    color: #333333;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  a.current {
    background-color: $primary;
    color: $white;
  }
}
.gallery-second {
  a{
    box-shadow: none !important;
    font-weight: 600;
    &:hover {
      background-color: transparent;
      color: $primary;
    }
  }
}
.thumb {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: $width;
}
.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: $width;
}
.gal-detail {
  h4 {
    margin-top: 16px;
  }
}
/* Gallery Second */
.portfolio-masonry-box {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-top: 20px;
  .portfolio-masonry-img {
    position: relative;
    overflow: hidden;
    &:after {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(250,250,250, 0);
      -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
  }
  .portfolio-masonry-img > img {
    -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    border-radius: 0;
  }
  .portfolio-masonry-detail {
    opacity: 0;
    width: 100%;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    h4{
      margin-bottom: 3px;
      color: $white !important;
      font-weight: bold;
    }
    p{
      color: $white !important;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
.portfolio-masonry-box:hover {
  .portfolio-masonry-detail {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 3;
    opacity: 1;
  }
  .portfolio-masonry-img:after {
    background: rgba($dark,0.7);
  }
  .portfolio-masonry-img > img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}
