/* =============
  sitemap
============= */
.sitemap-wrapper {
  a{
    color: $lightdark5;
    &:hover {
      color: $custom;
    }
  }
  h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    i {
      padding-right: 10px;
    }
  }
  ul {
    padding-left: 30px;
    li {
      a{
        font-size: 15px;
        line-height: 30px;
      }
    }
  }
}