@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Source+Sans+Pro:400,600,700');
$custom: #5fbeaa;
// Color variables
$white: #ffffff;
$danger: #f05050;
$success: #81c868;
$warning: #ffbd4a;
$primary: #5d9cec;
$lightdark5: #555555;
$info: #34d3eb;
$purple: #7266ba;
$pink: #fb6d9d;
$inverse: #4c5667;
$muted: #98a6ad;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #ebeff2;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;
$lightdark: #f4f8fb;
$lightgray: #7a8c9a;
$dark: #36404a;
// Width variables
$width: 100%;
// Height variables
$height: 100%;
//Font Family
$font-primary: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
//Font Size
$font-size-priary: 14px;
