.navbar-custom, .topbar .topbar-left, .button-menu-mobile {background-color: #4a3788; }
/*.btn.btn-success {padding: .375rem 1.75rem; }*/
.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {background-color: #f37a21 !important; border: 1px solid #f37a21 !important; box-shadow: none !important; } 
.side-menu.left {top: 66px; }
#sidebar-menu{     padding-top: 0px; }
#sidebar-menu > ul > li > a.active, #sidebar-menu > ul > li > a:hover {color: #f37a21 !important; border-left: 3px solid #f37a21; background-color: rgba(243,122,33,0.1) !important; }
/*span, strong, p { font-size: 16px; } */
.text-dark {color: #2d2d2d !important; } 
.coloer-green { color:#5ed21a ; }
.color-orange {  color: #f37a21;}
.purpal-color, .purpal-color:hover, .purpal-color:focus, .purpal-color:active{background: #4a3788 !important; border-color:#4a3788 !important; box-shadow: none !important; }
.purpal-text, .purpal-text:hover, .purpal-text:focus, .purpal-text:active{color: #4a3788 !important; }
.navbar-custom, .button-menu-mobile , .topbar .topbar-left { background: #4a3788; }
.drashbord-btn {background: #f37a21; color: #fff; }
#sidebar-menu .subdrop, #sidebar-menu > ul > li > a.active {background: #f4f8fb !important; color: #f37a21 !important; border-left: 3px solid #f37a21;}
#sidebar-menu > ul > li > a:hover{ color: #f37a21; } 
/*.dashboard-list {max-width: 20%;}*/
.dashboard-list .card-box { min-height: 180px;}
.dashboard-list h3.text-light { font-size: 50px;}
.font-black{ color:#000 }
.choose-team-absent h2 {color: #da0b39; font-size: 53px; margin: 0; line-height: 46px; font-weight: 900; } 
.choose-team-day h3 {font-size: 35px; font-weight: 700; } 
.card-box.total-cases {background-image: linear-gradient(to bottom right, #6853b0, #4a3887);}
.card-box.call{background-image: linear-gradient(to bottom right, #f48665, #fda23f);}
.card-box.avg-class-for-day {background-image: linear-gradient(to bottom right, #9a56ff, #d78afd);}
.card-box.escalated-cases {background-image: linear-gradient(to bottom right, #23bdb8, #43e794);}
.card-box.mins-exceeded-break {background-image: linear-gradient(to bottom right, #004fa0, #13a2ab);}
.card-box.mins-meeting  {background-image: linear-gradient(to bottom right, #4a81d4, #275fb3);}
.card-box.view-custom-reports {background-image: linear-gradient(to bottom right, #4776e6 , #8e54e9);}
.card-box.mins-training {background-image: linear-gradient(to bottom right, #c8692a , #f3904f);}
.drashbord-header-icon img {max-width: 22px; max-height: 22px; width: auto; height: auto; } 
.choose-right-box { height: 150px; } 
.choose-right-box .col-lg-3.col-sm-4 {height: inherit; display: flex; align-items: center; justify-content: center; }
.btn-success.btn-green , .btn-success.btn-green:hover, .btn-success.btn-green:focus, .btn-success.btn-green:active, .btn-success.active.btn-green, .btn-success.focus.btn-green, .btn-success.btn-green:active, .btn-success.btn-green:focus, .btn-success.btn-green:hover, .open > .dropdown-toggle.btn-success.btn-green {background-color: #5a8d0c !important; border: 1px solid #5a8d0c !important; box-shadow: none !important; }
.btn-success.green-light , .btn-success.green-light:hover, .btn-success.green-light:focus, .btn-success.green-light:active {background-color: #00af50 !important; border: 1px solid #5a8d0c !important; box-shadow: none !important; }
table.task-listing tr td { line-height: 36px; white-space: nowrap; } 
.truck-driver table.task-listing tr td { padding: 5px 0 0 0; } 
.table-box .card-box.table-responsive {padding: 0; } 
.dropdown-toggle::after { border: 0; } 
.break-time { font-size: 20px; } 
p.awaiting-supervisor {white-space: nowrap; padding: 5px 0 0; color: red; }
.dropdown-break {background: url(../images/dashboard/down-arrow.svg) no-repeat 95% 50%, url(../images/dashboard/mini-exceeded-break.png) no-repeat 10% 50%;; background-size: 15px; padding-right: 28px; font-size: 18px; min-width: 120px; padding-left: 40px; } 
input.search-input-box {border: 1px solid; border-radius: 20px; min-height: 50px; border-color: rgba(108, 117, 125, 0.3)!important; }
 .view-more-detail a {font-size: 18px; text-decoration: underline; color: #4b3889; } 
/* .job-add-case-label span {font-size: 30px; } */
 /*.job-upload span {font-size: 22px; } */
.job-history-about.border {min-height: 100px; border: 1px solid rgba(255, 255, 255, 0.4)!important; } 
#wrapper.enlarged .content-page {margin-left: 90px; } 
#wrapper.enlarged .left.side-menu {width: 90px; } 
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a i {margin-left: 10px; } 
.btn.back-btn.purpal-color {padding: 10px 40px; } 
.job-start-to strong, .job-start-from strong {margin: 0 50px 0 0; display: inline-block; } 
.modal-dialog {max-width: 980px; } 
.modal .modal-dialog .modal-content .modal-body {border: 1px solid rgba(0, 0, 0, 0.2); } 
select.form-control {-webkit-appearance: none; -moz-appearance: none; appearance: none;} 
.agent-model-btn button {width: 130px; } 
.dropdown-break select.form-control, .agent-model-btn select.form-control, .search-box-btn select.form-control {min-width: 110px; background: #fff url(../images/dashboard/down-arrow-black2.svg) no-repeat 93% 50%; background-size: 15px;    padding-right: 35px; } 
img.pop-close {width: 25px; padding-top: 8px; }
.rounded {border-radius: 8px !important; } 
.modal-header-logo img {max-width: 22px; } 
.col-md-10.search-box-schedual input {min-width: 250px; }
.table {  font-size: 16px;}
.search-box-schedual input { background: #fff url(../images/dashboard/search.svg) no-repeat 93% 50%; background-size: 15px; }  
.daterange-box input  { background: #fff url(../images/dashboard/calendar.png) no-repeat 93% 50%; background-size: 15px; padding-right: 50px; }  
.modal-header button, .modal-header input, .modal-header optgroup, .modal-header select, .modal-header textarea {   
    height: 30px !important; border-radius: 6px; padding: 0 5px 0 15px; border: 0; } 
 .dropdown-break select.form-control.btn-success { font-size: 18px !important;}
.modal-footer-text span { font-size: 14px; }
.day-weekend-box { height: inherit; }
.dropdown-break-box select.form-control:not([size]):not([multiple]) {margin-top: -1px; height: inherit; width: inherit; border-radius: 4px; border: none !important	; } 
.dropdown-break-box {height: 38px; width: 150px; border-radius: 4px !important; } 
.drashbord-box-main .widget-bg-color-icon .bg-icon {height: 65px; width: 65px; text-align: center; border-radius: 50%; } 
/*.p-30.choose-period-box{ padding: 20px !important; }*/
a.logo img {max-width: 60px; }
.modal-header.purpal-color.p-3.d-flex.align-items-center.flex-wrap {padding-right: 30px !important; } 
button.close {position: absolute; right: 0; top: 25px; }
option {background: white; color: #020202; }
.search-box-total p {font-weight: 600; }
.scheduled-title h4, .search-box-num span {color: #f37a21; font-weight: 600; }
.scheduled-table table.task-listing tr td:nth-child(4) { color: #7cad33;}
.scheduled-table table.task-listing tr td:nth-child(3) { color: #ff0404;}
.scheduled-table table.task-listing tr td:nth-child(1) { font-weight: 600;}
.scheduled-map-box iframe { width: 100%; height: 700px; }
.scheduled-radio .radio p { font-size: 20px; line-height: 18px;}
.radio .font-black::after { background: #000; }
.scheduled-radio .radio {margin: 0 0 0 15px; padding: 10px 15px 10px 15px; border: 1px solid; border-radius: 4px; }
.select-truck-top .select-truck select {min-width: 110px; background: transparent url(../images/dashboard/down-arrow-black2.svg) no-repeat 93% 50%; background-size: 20px;    padding-right: 40px; }
/*.select-truck select.form-control {font-size: 14px; color: #565656; font-weight: 400; }*/
.select-truck-box span {font-size: 16px; font-weight: 600; margin-bottom: 6px; display: block; }
.select-truck .form-control:focus, .select-truck .form-control:hover, .select-truck .form-control:active { background-color: transparent; border: 0 !important; }
.select-truck-top select.form-control{font-size: 16px; color: #000; font-weight: 600; }
.truck-location input{padding: 8px 0; min-width: 110px; background: transparent url(../images/dashboard/plus-button.svg) no-repeat 93% 50%; background-size: 20px; padding-right: 40px; box-shadow: none !important; border: none !important; background-color: transparent !important;} 
.truck-location  input.form-control.border-bottom {border-bottom: 1px solid #dee2e6 !important; border-radius: 0; }
.select-truck select, .truck-drop .select-truck-info input {min-width: 110px; background: transparent url(../images/dashboard/down-arrow-black2.svg) no-repeat 93% 50%; background-size: 15px;    padding-right: 40px; } 
 
.select-truck-info input, .select-truck-date input{box-shadow: none !important; border: none !important; background-color: transparent !important; border-bottom: 1px solid #dee2e6 !important; border-radius: 0 !important; padding-left: 0; padding-right: 0; } 
input.extra-load.w-100 {font-size: 11px; border-bottom: none !important; }
.select-truck-quentity .input-group-btn button {line-height: 0; text-align: center; justify-content: center; border-radius: 40% !important; width: 15px; padding: 0 !important; height: 15px; background-color: #4a3788 !important; border: 1px solid #4a3788 !important; } 
.select-truck-quentity span.input-group-btn {display: flex; align-items: center; } 
.input-group.bootstrap-touchspin {width: 60px; border: 2px solid #4a3788 !important; border-radius: 45PX; height: 18px; display: flex; align-items: flex-start; } 
.input-group.bootstrap-touchspin input{font-size: 13px; padding: 0 !important; border: 0 !important; line-height: 15px; height: auto;}
.form-card-box { border-radius: 8px; }
.next-btn button {background: #f37a21; min-width: 150px; }
.form-card-box {height: 140px; } 
.card-bottom-height { height: inherit; } 
.checkbox input[type="checkbox"]:checked + label::after {background: #4a3788; color: #fff; border-radius: 2px; border: 0; outline: 0; } 
.driver-images {width: 45px; height: 45px; } 
.truck-driver table.task-listing tr td label{line-height: 45px; font-size: 16px; padding: 5px 10px; white-space: nowrap;} 
.truck-driver table.task-listing th {background-color: #fff; border-top: 0; white-space: nowrap; } 
.truck-driver table.task-listing tr {background-color: #f7f7f7 !important; border-bottom: 4px solid #fff; transition: all 0.2s ease; } 
/*.truck-driver  table.task-listing tbody tr:hover {background-color: #f37a21 !important; color: #fff; }*/
.driver-profile-img {width: 120px; height: 120px; } 
.licence-ex-day.font-black p {font-size: 14px; line-height: 14px; } 
.driver-licence span {font-size: 13px; } 
.truck-driver table tr td label{ margin-bottom: 0; width: 100%; } 
.truck-driver .radio input[type="radio"]:checked + label::after, .truck-driver table tr td label:before, .truck-driver table tr td input{display:none; } 
.truck-driver table.task-listing tr.checked {background-color: #f37a21 !important; } 
.shadow { box-shadow: 0px 0px 8px 0px rgba(201,201,201,1) !important; } 
.driver-licence-box {min-height: 100px; display: flex; align-items: center; flex-wrap: wrap; } 
.next-btn {margin: -60px 10px 0px; }
.op-header-select select.form-control {font-size: 20px; line-height: normal; width: 150px; color: #000; margin-right: 30px; }
h4.op-header-title {padding: 0; margin-right: 50px; font-size: 27px;  margin-bottom: 20px; } 
.opration-map iframe {width: 100%; height: 500px; }
.opration-break select {font-size: 18px; color: #000; } 
.operations-header-links select.form-control {min-width: 110px; background: url(../images/dashboard/down-arrow-black2.svg) no-repeat 95% 50%, url(../images/dashboard/list.png) no-repeat 15px 50%; background-size: 15px; padding-right: 20px; padding-left: 40px; background-color: #fff; } 
.opration-break select.form-control, .opration-break select.form-control:active, .opration-break select.form-control:focus { box-shadow: 0px 0px 8px 0px rgba(201,201,201,1) !important; border: 0; } 
.opration-add-case h5 {font-size: 18px; font-weight: 400; } 
.opration-add-case button:hover,  .opration-add-case button:active, .opration-add-case button:focus { background-color: #fff !important; outline: 0; box-shadow: 0px 0px 8px 0px rgba(201,201,201,1) !important; } 
.operations-header-links {margin: 0 30px 10px 0 !important; }
.job-history-about.task-history-about { min-height: auto;  }
.task-history-btn button {width: 120px; }
.search-box-btn select.form-control {width: auto; font-size: 16px; padding-left: 21px; }
.search-box-btn.supervisor-select select.form-control{ padding-right: 40px; }
.search-box-btn.supervisor-select select.form-control, .search-box-btn.supervisor-select select.form-control:active, .search-box-btn.supervisor-select select.form-control:focus { box-shadow: 0px 0px 8px 0px rgba(201,201,201,1) !important; border: 0; } 
.supervisor-select-date input.form-control, .supervisor-select-date input.form-control:active, .supervisor-select-date input.form-control:focus { box-shadow: 0px 0px 8px 0px rgba(201,201,201,1) !important; border: 0;  height: 40px; } 
.agent-view-title-list a h5 {font-size: 30px; } 
.agent-view-title h2 {font-size: 50px; margin: 0; } 
.agent-view-head { padding-bottom: 	20px; }
.supervisor-team .scheduled-table table.task-listing tr td:nth-child(1) { font-weight: 400;}
.drashbord-supervisor td.purpal-text {width: 150px; }
.driver-images span.status {position: absolute; bottom: -10px; right: -4px; }
.rate-icon img{max-width: 18px; } 
.Loading-popup-check label {white-space: nowrap; } 
.input-group.Loading-box {width: 130px; }
.driver-images-pop img {max-width: 55px; } 
.modal-dialog.modal-dialog-centered.approval-model {max-width: 500px; } 
.Loading-popup-check input {display: none; } 
.approval-model .modal-header-logo .driver-images-pop, .approval-view-model .modal-header-logo .driver-images-pop{margin: -40px 0 0; } 
.approval-model span.status, .approval-view-model span.status{position: absolute; bottom: 7px; left: 50%; }
.truck-location i.md-radio-button-on:after {content: ""; height: 24px; padding: 0px; position: absolute; color: #000; top: 25px; left: 16px; border: 1px dashed; }
.logged-in-username p {font-size: 14px; margin: 0; } 
.logged-in-username  span.status {font-size: 12px; } 
select, select.form-control:active, select.form-control:focus { box-shadow: 0px 0px 8px 0px rgba(201,201,201,0.2) !important; border: 0;  height: 40px;  border: 1px solid #E3E3E3 !important	; }
.notification-list .noti-title
{
	padding: 5px;
}
.p-0 {
  padding: 0 !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.m-0 {
  margin: 0 !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}