body {
    font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #212121;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
.text-default {
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: normal;
}
.margin-top {
    margin-top: 10px !important;
}
.padding-top-sm {
    padding-top: 5px !important;
}
#navbar {
    margin: 0;
    font-weight: 400;
}
.jumbotron {
    color: #f5f5f5;
    background-color: #039be5;
    border-top: 1px solid #039be5;
    border-bottom: 1px solid #0288d1;
    margin-bottom: 0;
    padding: 30px 0 40px;
}
.jumbotron a,
.jumbotron a:hover,
.jumbotron a:visited {
    color: #f5f5f5;
}
.jumbotron .btn-lg {
    margin: 10px 0;
    font-size: 24px;
    padding: 17px 30px;
    color: #ffffff;
    border-color: #c7e7dc;
    background-color: transparent;
}
.jumbotron .btn-lg:hover {
    background-color: #f4faf8;
    border-color: #f4faf8;
    color: #039be5;
}
#social-buttons {
    padding: 22px 0 17px;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}
#social-buttons li {
    vertical-align: top;
}
#social-buttons .git-tip img {
    margin-top: -4px;
}
#download-buttons {
    padding: 22px 0 17px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.icon-set p {
    font-size: 16px;
}
.icon-set p i {
    margin-right: 8px;
}
.navbar-light-blue {
    background-color: #039be5;
    border-color: #0288d1;
}
.navbar-light-blue .btn-animated > div,
.navbar-light-blue .btn-animated > div:before,
.navbar-light-blue .btn-animated > div:after {
    background: #f5f5f5;
}
.navbar-light-blue .btn-animated:hover > div,
.navbar-light-blue .btn-animated:hover > div:before,
.navbar-light-blue .btn-animated:hover > div:after {
    background: #f5f5f5;
}
.navbar-light-blue .navbar-toggle {
    color: #ffffff;
    background-color: transparent;
}
.navbar-light-blue .navbar-brand {
    color: #f5f5f5;
    background-color: transparent;
}
.navbar-light-blue .navbar-brand:hover,
.navbar-light-blue .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-light-blue .navbar-divider,
.navbar-light-blue .navbar-nav .divider {
    background-color: #bdbdbd;
}
.navbar-light-blue .navbar-text {
    color: #f5f5f5;
}
.navbar-light-blue .navbar-nav li > a {
    color: #f5f5f5;
    background-color: transparent;
}
.navbar-light-blue .navbar-nav li:hover > a,
.navbar-light-blue .navbar-nav li > a:hover,
.navbar-light-blue .navbar-nav li:focus > a,
.navbar-light-blue .navbar-nav li > a:focus {
    color: #f5f5f5;
    background-color: #03a9f4;
}
.navbar-light-blue .navbar-nav li:hover > a i,
.navbar-light-blue .navbar-nav li > a:hover i,
.navbar-light-blue .navbar-nav li:focus > a i,
.navbar-light-blue .navbar-nav li > a:focus i {
    color: #212121;
}
.navbar-light-blue .navbar-nav > .open > a,
.navbar-light-blue .navbar-nav > .open > a:hover,
.navbar-light-blue .navbar-nav > .open > a:focus {
    color: #f5f5f5;
    background-color: #03a9f4;
}
.navbar-light-blue .navbar-nav > .open > a i {
    color: #f5f5f5;
}
.navbar-light-blue .navbar-nav > .active > a {
    color: #f5f5f5;
    background-color: #03a9f4;
}
.navbar-light-blue .navbar-nav > .active > a:hover,
.navbar-light-blue .navbar-nav > .active > a:focus {
    color: #f5f5f5;
    background-color: #03a9f4;
}
.navbar-light-blue .navbar-nav > .active > a i {
    color: #f5f5f5;
}
.navbar-light-blue .navbar-nav > .disabled > a,
.navbar-light-blue .navbar-nav > .disabled > a:hover,
.navbar-light-blue .navbar-nav > .disabled > a:focus {
    color: #29b6f6;
    background-color: transparent;
}
.navbar-light-blue .navbar-nav > .disabled > a i {
    color: #29b6f6;
}
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu {
    background-color: #fff;
}
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu > li {
    background-color: #fff;
}
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu > li > a {
    color: #212121;
}
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #212121;
}
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #f5f5f5;
    color: #212121;
}
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu > .active > a,
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.navbar-light-blue .navbar-nav > .dropdown > .dropdown-menu > .active > a:focus {
    background-color: #f5f5f5;
    color: #212121;
}
/* code */
.hll { background-color: #ffffcc }
/*{ background: #f0f3f3; }*/
.c { color: #999; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: #999; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #FF6600 } /* Literal.Number */
.s { color: #d44950 } /* Literal.String */
.na { color: #4f9fcf } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #00AA88; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #CC00FF } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #FF6600 } /* Literal.Number.Float */
.mh { color: #FF6600 } /* Literal.Number.Hex */
.mi { color: #FF6600 } /* Literal.Number.Integer */
.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #FF6600 } /* Literal.Number.Integer.Long */